@use '@/utils/styles/colors.scss';
@use '@/utils/styles/screen.scss';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: #000;
  .content {
    @include screen.main-width;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
